<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Classes</a></li>
      <li><a href="#">Teachers</a></li>
      <li><a href="#">Notice</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="other-button">
    <button><a href="/login">Log In</a></button>
    <button>Contact</button>
  </div>
</header>
