<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/classes">Classes</a></li>
      <li><a href="/teachers">Teachers</a></li>
      <li><a href="/notice">Notice</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="other-button">
    <button><a href="/login">Log In</a></button>
    <button>Contact</button>
  </div>
</header>
