<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fav cion -->
    <link
      rel="shortcut icon"
      href="/images/transparent.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- css link -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/header.css" />

    <title>All Care Academy</title>
  </head>
  <body>
    <div class="container">
      <!-- --------------home------------- -->
      <div class="home">
        <div class="book1">
          <img src="/images/book1.png" alt="" />
        </div>
        <div class="book2">
          <img src="/images/book2.png" alt="" />
        </div>
        <div class="book3">
          <img src="/images/pencil.png" alt="" />
        </div>
        <div class="book4">
          <img src="/images/compas.png" alt="" />
        </div>
        <%-include("./partials/header.ejs")%>
        <section class="hero">
          <div class="hero-box hero-left">
            <div class="theme-text">
              <div></div>
              <h3>Education</h3>
            </div>
            <h1>All Care Academy</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
              sapiente amet recusandae, sunt ex accusamus itaque, expedita
              provident tempora ad voluptatem maiores dicta velit odio.
            </p>
            <div class="counter-boxmain">
              <div class="counter-box"></div>
            </div>
            <button>Get Started</button>
          </div>
          <div class="hero-box hero-right">
            <img
              src="https://separateweb.com/tm-blueket/images/common/hero-banner-2a.svg"
              alt=""
            />
          </div>
        </section>
      </div>
      <!-- ----------------------home------------- -->
      <!-- ------------------about--------------------- -->
      <div class="about-main">
        <div class="about-text">
          <div></div>
          <h1>About Us</h1>
        </div>
        <div class="aboutboxes">
          <div class="about-box about-left">
            <h1>
              Hire the Best Web and Mobile App Developers For Your Project
            </h1>
            <div class="about-info">
              <p>
                Expertise helps Blueket tackle the world's most difficult
                challenges. Blueket provides digital products for worldwide
                brands on the web, mobile, and linked platforms. Expertise helps
                Blueket tackle the world's most difficult challenges. Blueket
                provides digital products for worldwide brands on the web,
                mobile, and linked platforms.
              </p>
              <p>
                Expertise helps Blueket tackle the world's most difficult
                challenges. Blueket provides digital products for worldwide
                brands on the web.
              </p>
            </div>
            <button>Read More</button>
          </div>
          <div class="about-box about-right">
            <div class="about-right1">
              <div class="aboutcontent-box">
                <img src="/images/teacher.png" alt="" />
                <h2>15 +</h2>
                <h3>Teachers</h3>
              </div>
              <div class="aboutcontent-box">
                <img src="/images/male-student.png" alt="" />
                <h2>300 +</h2>
                <h3>Students</h3>
              </div>
            </div>

            <div class="about-right2">
              <div class="aboutcontent-box">
                <img src="/images/experience.png" alt="" />
                <h2><span id="count1">13</span> +</h2>
                <h3>Years Exoeriance</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------about--------------------- -->
      <!-- ------------------teachers------------------------- -->
      <div class="teacher-main">
        <div class="about-text">
          <div></div>
          <h1>Meet Our Instructors</h1>
        </div>
        <div class="all-teacher">
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/5.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/3.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/4.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/1.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------teachers------------------------- -->
      <!-- registration form -->
      <div class="registration-advertisement">
        <div class="registrationsub-advertise">
          <div class="advertisement-box advertisementbox1">
            <img src="/images/3dcartoon.webp" alt="" />
          </div>
          <div class="advertisement-box advertisementbox2">
            <h2>Your Are Not A Student Of</h2>
            <h1>All Care Academy</h1>
            <button>
              Register
              <i class="bx bx-right-arrow-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- registraton form -->
      <!-- -----------------our latest blogs---------------------- -->
      <div class="blog-main">
        <div class="about-text">
          <div></div>
          <h1>Our Latest Blogs</h1>
        </div>
        <div class="blog-contaner">
          <div class="blog-box">
            <div class="blog-image">
              <img
                src="https://eduko-react.wpolive.com/static/media/img-1.bf56604b970f1ad08793.jpg"
                alt=""
              />
            </div>
            <div class="blog-textinfo">
              <div class="uploader-info">
                <p>23 Sep 2023</p>
                <h3>Ali Polash</h3>
              </div>
              <h1>Creative Class Library For Students</h1>

              <button>Read More</button>
            </div>
          </div>
          <div class="blog-box">
            <div class="blog-image">
              <img
                src="https://eduko-react.wpolive.com/static/media/img-2.f7bd8c8857905893d42b.jpg"
                alt=""
              />
            </div>
            <div class="blog-textinfo">
              <div class="uploader-info">
                <p>23 Sep 2023</p>
                <h3>Ali Polash</h3>
              </div>
              <h1>Creative Class Library For Students</h1>
              <button>Read More</button>
            </div>
          </div>
          <div class="blog-box">
            <div class="blog-image">
              <img
                src="https://eduko-react.wpolive.com/static/media/img-3.d9ba592440203e61e32b.jpg"
                alt=""
              />
            </div>
            <div class="blog-textinfo">
              <div class="uploader-info">
                <p>23 Sep 2023</p>
                <h3>Ali Polash</h3>
              </div>
              <h1>Creative Class Library For Students</h1>

              <button>Read More</button>
            </div>
          </div>
        </div>
      </div>

      <!-- -----------------our latest blogs---------------------- -->

      <!-- --------------------------footer-------------------- -->
      <%-include("./partials/footer.ejs")%>
      <!-- ----------------------footer------------------- -->
    </div>
    <script>
      window.addEventListener("scroll", function () {
        let header = document.querySelector("header");
        header.classList.toggle("activenavbar", window.scrollY > 100);
      });
    </script>
  </body>
</html>
